<!-- crear-irc.component.html -->

<mat-card>
    <mat-card-title align="center">
        IRC
    </mat-card-title>

    <mat-card-content>
        <div class="container">
            <div class="full-form">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos generales
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-form-instalacion></app-form-instalacion>
                </mat-expansion-panel>

                <br>

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos IRC
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-form-irc></app-form-irc>
                </mat-expansion-panel>
            </div>

            <div align="center">
                <button mat-flat-button color="accent" (click)="create()" [disabled]="validate()"
                    style="margin: 4px;">Guardar</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>