<!-- app.component.html -->

<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li>
        <button mat-button [routerLink]="['']">
          <img src="../assets/ceytec.png" style="width: 100%; height: auto;">
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menuNueva">Nueva instalación</button>
        <mat-menu #menuNueva="matMenu">
          <a mat-menu-item routerLink="nueva-irc" class="nav-link" routerLinkActive="active">
            IRC
          </a>
          <a mat-menu-item routerLink="nueva-gasnatural" class="nav-link" routerLinkActive="active">
            Gas Natural
          </a>
          <a mat-menu-item routerLink="nueva-butano" class="nav-link" routerLinkActive="active">
            Butano
          </a>
          <a mat-menu-item routerLink="nueva-solar" class="nav-link" routerLinkActive="active">
            Solar
          </a>
          <a mat-menu-item routerLink="nueva-otros" class="nav-link" routerLinkActive="active">
            Otros
          </a>
        </mat-menu>
      </li>
      <li>
        <a mat-button routerLink="instalaciones" class="nav-link" 
        routerLinkActive="active">Instalaciones</a>
      </li>
      <li>
        <a mat-button routerLink="mantenimiento" class="nav-link" 
        routerLinkActive="active">Mantenimiento</a>
      </li>
    </ul>
</nav>

<router-outlet></router-outlet>